name: deploy_website

run-name: ${{ github.actor }} Deploy Website

on: [push]

jobs:
  publish_master:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment:
      name: prod
      url: https://expertanalytics.no/

    steps:
      - name: Checkout website
        uses: actions/checkout@v3
        with:
          path: main

      - name: Hugo Setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Hugo Build
        run: |
          cd main
          hugo --minify --destination=../public || exit 1
          cd ../

      - name: Checkout expertanalytics.github.io
        uses: actions/checkout@v3
        with:
          path: remote
          repository: expertanalytics/expertanalytics.github.io
          ref: master
          ssh-key: ${{ secrets.WEBSITE_DEPLOY }}

      - name: deploy
        run: |
          cd remote
          rm -rf $(ls -A . | grep -v .git)
          cp -R ../public/* .
          echo expertanalytics.no > CNAME
          git config user.name xal
          git config user.email post@expertanalytics.no
          git add .
          git commit -m 'Deploy website from actions'
          git push origin master --force

  publish_branch:
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Hugo Setup
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Hugo Build
        run: |
          cd expertanalytics
          hugo --minify --destination=../public || exit 1

      - name: deploy
        env:
          SYNC_KEY: ${{ secrets.DEVXALKEY }}
        run: |
          env_name=$(echo ${GITHUB_REF##*/} | tr '[:upper:]' '[:lower:]')
          curl -H 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -H "Accept: application/vnd.github.ant-man-preview+json" \
              -X POST https://api.github.com/repos/expertanalytics/website/deployments \
              -d "{\"ref\": \"$GITHUB_REF\", \"environment\": \"pr-$env_name\", \"auto_merge\": false, \"required_contexts\": []}" \
              | jq -r .statuses_url > .statuses_url
          env_url=http://$env_name.pr.dev.xal.no/
          mkdir -p ~/.ssh
          echo "$SYNC_KEY" > ~/.ssh/id_rsa
          chmod 0700 ~/.ssh
          chmod 600 ~/.ssh/id_rsa
          echo
          rsync -e "ssh -o StrictHostKeyChecking=no" --delete -rv public/ deploy@dev.xal.no:www/pr/$env_name
          curl -H 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -H "Accept: application/vnd.github.ant-man-preview+json" \
              -X POST $(cat .statuses_url) \
              -d "{\"state\": \"success\", \"environment_url\": \"$env_url\"}"
